:root{
    font-size: 10px;
    --primary-color : rgb(13, 100, 221);
    --bg-color : rgb(233, 233, 233);
}



.dataUploader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
}

.dataUploader .uploadInput{
    height: 100px;
    width: 180px;
    border: 3px solid var(--bg-color);
    border-radius: 2rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.11),
                -5px -5px 10px 0px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.644);
    font-weight: bolder;
    letter-spacing: 0.015em;
    transition: all 0.25s;
}
.dataUploader .uploadInput:hover{
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.11),
                -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
                inset 5px 5px 10px 0px rgba(0, 0, 0, 0.11), 
                inset -5px -5px 10px 0px rgba(0, 0, 0, 0.05);
    /* color: rgb(255, 255, 255); */
    /* background-color: var(--primary-color); */
}
.tableContainer{
    width: 100%;
    padding: 8rem 8rem;
    background-color: var(--bg-color);

}
.dataStats{
    display: flex;
    justify-content: space-around;
}
.statsItem{
    width: 100px;
    height: 120px;
    text-align: center;
}
.statsItem .statsItem--value{
font-size: 3.5rem;
font-weight: bolder;
}
.statsItem .statsItem--name{
font-size: 1.7rem;
}
.dataDisplay{
    
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid var(--bg-color);
    /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.11),-5px -5px 10px 0px rgba(255, 255, 255, 0.5);   */
    background-color: white;
    margin: 1.5rem 0rem 3rem 0rem;
}
.TableTitle{
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 0.02rem;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
}
.dataDisplay .ant-table-header .ant-table-cell{
    background-color: var(--primary-color) !important;
    color: white !important;
    border: none;
}

.dataDownload{
    display: flex;
    justify-content: flex-end;
    padding: 5rem 0;
}

